<%@friendlist.each do |friend|%>
    <%if friend.current_user_id == current_user.id%>
		<%if friend.friendship_status != "f" %> 
			<section class="hero">
					<div class="container">
						<div class="row">	
							<div class="col-lg-6 offset-lg-3"> 
								<div class="cardbox shadow-lg bg-white">
									<div class="cardbox-heading">
										<div class="media m-0">
											<div class="d-flex mr-3 mt-5">		
												<% if User.find(friend.friends_id).image_url%> 
													<img src="<%=User.find(friend.friends_id).image_url%>" alt="Generic placeholder image" class="img-fluid img-thumbnail mt-2 mb-2" style="width: 120px; z-index: 1">
												<%else%>
													<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp" alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">									
												<%end%>
												<span style="font-family:sans-serif;font-size:2.0em;"><i class="icon ion-md-time m-2"></i> <%=User.find(friend.friends_id).name%></span></a>
											</div>
												<%= link_to "Remove Friend",friendlist_path(friend.id),method: :delete,class:"btn btn-danger pull-right mb-2",role:"button"%>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
			</section>
		<%end%>
	<%end%>
<%end%>
