<%@liked_by.each do|user|%>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="people-nearby">   
          <div class="nearby-user">
            <div class="row">
              <div class="col-md-2 col-sm-2">
                <% if User.find(user.user_id).image_url%>
                  <img src="<%=User.find(user.user_id).image.url%>" alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">
                <%else%>
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp" alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">  
                <%end%>	                     
              </div>
              <div class="col-md-7 col-sm-7">
                <h5><a class="profile-link" style="text-decoration:none; color:black;" ><%=User.find(user.user_id).name%></a></h5>
                <h6>
                <p><%=User.find(user.user_id).location%></p>
              </div>
              <div class="col-md-3 col-sm-3 ">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%end%>