<div class="container mt-3 mb-3">
	<div class="col-lg-6 offset-lg-0 ">
		<h1 style="text-align:center;"> All Users</h1>
	</div>
</div>
<%@users.each do|user|%>
      <div class="container">
          <div class="row">
              <div class="col-md-8">
                  <div class="people-nearby">   
                    <div class="nearby-user">
                      <div class="row">
                        <div class="col-md-2 col-sm-2">
                          <% if user.image_url%>
                            <img src="<%=user.image.url%>" alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">
                          <%else%>
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp" alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">  
                          <%end%>	                     
                        </div>
                        <div class="col-md-7 col-sm-7">
                          <h5><a class="profile-link" style="text-decoration:none; color:black;" ><%=user.name%></a></h5>
                          <p><%=user.location%></p>
                        </div>
                        <div class="col-md-3 col-sm-3 ">
                            <h6><%= link_to 'Delete User' ,admin_user_path(user.id),method: :delete,class:"btn btn-danger pull-right mb-3",role:"button" %></h6>                    
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>
<%end%>